*.Plo
*.Po
*.exe
*.la
*.lo
*.o
*~
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.*
config.log
config.status
configure
depcomp
doc/mhash.3
include/mutils/mhash_config.h.in
install-sh
libtool
ltmain.sh
mhash.spec
mhash_config.h
missing
src/driver
src/frag_test
src/hmac_test
src/keygen_test
src/rest_test
stamp-h1
test-driver
