#include "winresrc.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,9,9,9
 PRODUCTVERSION 0,9,9,9
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef DEBUG
 FILEFLAGS 1
#else
 FILEFLAGS 0
#endif
 FILEOS VOS_NT
 FILETYPE VFT_DLL
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "\0"
            VALUE "FileDescription", "\0"
            VALUE "InternalName", "libmhash-2.dll"
            VALUE "LegalCopyright", "\0"
            VALUE "OriginalFilename", "libmhash-2.dll"
            VALUE "ProductName", "\0"
            VALUE "ProductVersion", "0.9.9.9\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1252 //en-us
    END
END
